<html>
  <title>Document Tagging</title>
  <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
  <script>
    var chosen_word = -1;
    function chooseWord(word) {
      if (chosen_word != -1) {
        return;
      }
      var elem = document.getElementById("word_" + word);
      if (elem.className == "tag") {
        elem.className = "tag chosen";
        chosen_word = word;
        var topic_elem = document.getElementById("topic_container");
        topic_elem.style.display = "block";
        var selected_tag_elem = document.getElementById("selected_tag");
        selected_tag_elem.innerHTML = elem.innerHTML;

         var form_word = document.getElementById("form_word");
        form_word.value = word;
         var form_word_string = document.getElementById("form_word_string");
        form_word_string.value = elem.innerHTML;
      }
    }
    function chooseTopic(topic) {
        var form_topic = document.getElementById("form_topic");
        form_topic.value = topic;
        var form = document.getElementById("form");
        form.submit();
    }

    function toggleInstructions() {
        var instr_elem = document.getElementById("instructions");
        var instr_toggle_elem = document.getElementById("instruction_toggle"); 
        if (instr_elem.style.display == "") {
           instr_elem.style.display = "block";
           instr_toggle_elem.innerHTML = "Hide HIT instructions";
        } else {
           instr_elem.style.display = "";
           instr_toggle_elem.innerHTML = "Show HIT instructions";
        }
    }
  </script>
  <body>
    <div class="progress">{{num_finished}} / 20</div>

    <a class="instruction_toggle" 
       href="javascript:toggleInstructions();" id="instruction_toggle">
      Show HIT instructions</a>
    <div class="instructions" id="instructions">
      In this task you will be asked to "tag" documents and group
      these tags into "tag clusters."
      <ul>
	<li> You will be shown a snippet from a document along with its title.
	<li> Click on a word in the document which helps to express
	what the document is about.  Clicking on a word will assign
	the word as a "tag" for the document.  Note that you cannot
	change your tag once you have selected it.
	<li> Try to choose a tag that would help someone who is
	searching for pages on the subject to find the current document.
	For example, words such as "celebrity", "star", and "scandal"
	might be good tags for an article on Paris Hilton.
	<li> Words highlighted in red cannot be chosen for the tag.
	<li> Once you have selected a tag for a document, you will be
	shown between one and ten groups of tags, or "tag clusters."
	Each tag cluster may contain up to six words.  Some or all of
	the tag clusters may be empty.
	<li> Please select the tag cluster in which your chosen tag
	would best fit.  Make your assignment based on the sense of
	the word in the current document.  For example, if you tag an
	astronomy document with the word "star", you would assign your
	word to the tag cluster {"planet", "solar", "meteor"}, <b>NOT</b>
	the tag cluster {"celebrity", "paparazzi", "pop"}.
	<li> Please assign a tag to a tag cluster based on meaning
	rather than spelling, pronunciation, or grammatical function.
	For example, you would <b>NOT</b> assign the tag "swim" to the tag
	cluster {"swan", "skunk"} just because they all start with "s".
	Instead, you would prefer to assign the tag to the tag cluster
	{"water", "pool"}.
	<li> If an empty tag cluster is available, you may assign your
	tag to it if you think none of the other tag cluster is a good
	fit for your tag.
      </ul>
    </div>
       
    <h3>Please select a word to use as this document's tag.</h3>
    <div class="snippet_title">
      {{ title }}
    </div>
    <div class="snippet">
      {{ snippet }}
    </div>
    <div class="topic_container" id="topic_container">
      <h3>
	You have selected to tag this
        document <span class="selected_tag"
        id="selected_tag">FIXME</span>.  Choose the group of tags
        below which best corresponds to the sense of the tag in this
        document.  If the tag does not fit in any non-empty set, you
        may place it into an empty tag cluster if one is available.
      </h3>
    {% for topic in topics %}
     <a href="javascript:chooseTopic({{topic.topic}});" class="topic">
       &nbsp;
      {% for word in topic.words %}
      <span class="topicword">{{word}}</span>
      {% endfor %}
    </a>
    {% endfor %}
    </div>
    <form action="/submit" method="post" id="form">
      <input type="hidden" name="document_id" value="{{document_id}}">
      <input type="hidden" name="user_id" value="{{user_id}}">
      <input type="hidden" name="word" id="form_word">
      <input type="hidden" name="topic" id="form_topic">
      <input type="hidden" name="word_string" id="form_word_string">
    </form>
  </body>
</html>
