a.tag {
    color : white;
    text-decoration: none;
}

a.tag:hover {
    background-color : black;
}


a.instruction_toggle {
    color : darkcyan;
    display: block;
    text-align : right;
    text-decoration : none;
}

a.chosen {
    background-color : red;
}

div.colorchooser a.tag:hover {
    background-color : grey;
}

a.chosen:hover  {
    background-color : red;
}

div.colorchooser a.chosen:hover {
    background-color : red;
}

a.chosen2 {
    background-color : blue;
}

a.chosen2:hover  {
    background-color : blue;
}

div.colorchooser a.chosen2:hover {
    background-color : blue;
}

a.chosen3 {
    background-color : purple;
}

div.colorchooser a.chosen3:hover {
    background-color : purple;
}

a.chosen3:hover  {
    background-color : purple;
}

h1.error {
    text-align: center;
    border: solid;
    border-style : dashed;
    background-color : pink;
    border-color : red;
}

h1.finished {
    text-align: center;
    border: solid;
    border-style : dashed;
    background-color : lightcyan;
    border-color : blue;
}

span.finished_key {
  background-color : orange;
}

div.instructions {
    border: solid;
    border-style : dashed;
    background-color : lightblue;
    border-color : darkcyan;
    display : block;
}

a.done {
    display:inline-block;
    float:right;
    background-color:lightcyan;
    border:solid;
    text-decoration:none;
    border-color:black;
    border-style:double;
    color:black;
}

div.colorchooser {
    display:inline-block;
    float:right;
    background-color:grey;
    border:solid;
    text-decoration:none;
    border-color:black;
    border-style:double;
    margin-right:20px;
}

a.done:hover {
    text-decoration:underline;
}

div.token { 
    background-color : grey;
    text-align:center;
    color : white;
    border : solid;
    border-color : black;
    width:70%;
    font-size: 18pt;
    padding : 8px;
}


div.snippet { 
    background-color : grey;
    text-align:center;
    color : white;
    border : solid;
    border-color : black;
}

span.snippet_example { 
    display: inline-block;
    background-color : grey;
    color : white;
    border : solid;
    border-color : black;
}

div.snippet_title { 
    font-size : 24;
    font-variant : small-caps;
    border : solid;
    text-align : center;
}

span.topicword {
    text-align : center;
    text-decloration : none;
    display : inline-block;
    width : 18%;
}

a.topic {
    background-color : lightblue;
    border : solid;
    border-color : white;
    display : block;
    color : black;
    text-decoration : none;
}

a.topic:hover {
    border-color : grey;
}

div.topic_container {
     display : none;
}

span.selected_tag {
    background-color : purple;
    color : white;
}

div.progress {
    color : darkcyan;
    float:left;
}